<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Common.Config.Url" value="##############" />
		<add key="Common.Config.Mask" value="#####" />

		<add key="Common.Config.ExtensionUrl.Main" value="config\_main.xml" />

		<add key="DebugMode" value="##############" />
		<add key="DebugMode.Name" value="MariPriceApi" />
		<add key="DebugMode.Version" value="20.3.4.1" />
		<add key="DebugMode.RefreshStatistic" value="##############" />

	</appSettings>

	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\bin\Mr.Avalon.MariPrice.Api.dll -conf .\..\web.config" hostingModel="InProcess" />
			<!-- -log .\..\log\log-.log-->
		</system.webServer>
	</location>
</configuration>